[2019-07-25 02:34] JackClown opened #1 "Placeholder container custom style"
Custom container style prop is needed.

[2019-08-22 22:06] chramos commented on #1
for what purpose?

[2019-10-12 22:20] #1 closed

[2019-11-12 09:43] itsam opened #2 "componentWillUnmount() is deprecated"
Hello, thanks for your effort!
Clean barebone code. Any plans to replace componentWillUnmount method?
Best.

[2019-12-26 20:43] chramos commented on #2
Hey @itsam, thank you!
Sure, I'll publish a new version using hooks.

[2019-12-27 20:06] chramos commented on #2
@itsam  A new version was been published.

[2019-12-27 20:06] #2 closed

[2019-12-27 20:29] itsam commented on #2
@chramos Thank you :)

[2020-02-13 15:53] HaffASE opened #4 "The animation does not work"
If you use a component inside any component with useEffect, the animation does not work.

function ExampleComponent() {
useEffect(() => {}, []) // any effect

return (
  SkeletonPlaceholder
...
SkeletonPlaceholder
  )
}

"react": "16.9.0",
"react-native": "0.61.5",
"react-native-linear-gradient": "2.5.6",
"react-native-skeleton-placeholder": "2.0.1"

[2020-02-22 18:48] claudiozam commented on #4
Hi, i have a similar issue with  "react-navigation": "^4.1.0".

If i call this.props.navigation.setParams({.......});  The animation does not work.

[2020-02-22 21:31] claudiozam opened #5 "The animation does not work with react-navigation"
If I call this.props.navigation.setParams({.......}); The animation does not work.

[code]

"react": "16.9.0",
"react-native": "0.61.5",
"react-navigation": "^4.1.0".
"react-native-linear-gradient": "2.5.6",
"react-native-skeleton-placeholder": "2.0.1"

Thanks

[2020-02-28 14:42] chramos commented on #4
Thank you for feedback i'll check it out

[2020-02-28 14:43] chramos commented on #5
Hi @claudiozam, I'll checkout it out, thanks for feedback

[2020-02-28 15:11] chramos commented on #4
@HaffASE  I published a new version that contains the animation fix. Try it and let me know if it works correctly

[2020-02-28 15:12] chramos commented on #5
@claudiozam Please, check it out the new published version!

[2020-03-12 13:37] mehdihussain9 commented on #5
@chramos , Hi, is this work for android??

[2020-03-12 13:39] chramos commented on #5
@mehdihussain9 Hi, yep!

[2020-03-19 20:44] chramos commented on #5
Closing the issue for not having a feedback

[2020-03-19 20:44] #5 closed

[2020-03-19 20:45] chramos commented on #4
Closing the issue for not having a feedback

[2020-03-19 20:45] #4 closed

[2020-03-26 11:52] saurabh-nandan opened #11 "Stop loading"
How to stop skeltonplaceholder after loading complete. I have used isLoading={false} but its not working. I am using this library in my App. So please revert asap.

Thanks.

[2020-03-27 17:27] chramos commented on #11
@saurabh-nandan I'll give you an example how you should user this library

[code]

[2020-04-01 12:39] #11 closed

[2020-08-24 23:35] mngyuan opened #14 "TypeError: undefined is not an object (evaluating 'child.type.displayName')"
Trying to integrate a minimal usage of this library into my app but it isn't working

[code]

Installed linear gradient, ran pod install, `package.json`:

[code]

![Screen Shot 2020-08-24 at 4 29 36 PM](https://user-images.githubusercontent.com/3166481/91106290-23fb3480-e627-11ea-930e-7ff73ac9a5cc.png)

[2020-08-31 13:01] chramos commented on #14
@mngyuan, you are trying to use it the wrong way. try something like this:
[code]

[2020-08-31 13:02] chramos commented on #14
the library doesn't automatically transform your layout into placeholder. you should create it

[2020-09-04 23:10] mngyuan commented on #14
gotcha, makes sense, ended up rolling my own solution

[2020-09-04 23:10] #14 closed

[2020-09-11 18:56] jdnichollsc commented on #1
maybe to use flexbox with the view container, what do you think?

[2020-10-16 18:20] ydang204 opened #16 "Typescript support"
Does this project support typescript? I'm using TS in my project and feel happy to integrate this library
![image](https://user-images.githubusercontent.com/31928624/96294572-c5df4200-1016-11eb-9ff4-5356b5c1892b.png)

[2020-10-23 17:18] chramos commented on #16
Hey @ydang204 .. weird, this library supports Typescript.. I'll take a look and fix it up if needed

[2020-10-24 18:27] bjakubowiak-oanda commented on #16
Hey. Any updates on this task? Do you need a hand solving the issue?

[2020-10-24 21:25] chramos commented on #16
@ydang204 @bjakubowiak-oanda the issue has been solved
please update to latest version and check it up.

let me know if everything is ok to close this issue

[2020-10-24 21:49] bjakubowiak-oanda commented on #16
Still getting the same error as @ydang204 posted

[2020-10-24 21:52] chramos commented on #16
try again please. version 2.0.11

[2020-10-24 22:18] bjakubowiak-oanda commented on #16
Looks good, thanks for getting this sorted so quickly!

[2020-10-24 22:23] chramos commented on #16
No problem. I’ll close this issue. If you have another problem please open a new one.

[2020-10-24 22:24] #16 closed

[2020-10-30 16:02] ydang204 commented on #16
Thank you very much @chramos :D

[2020-11-20 11:48] ArietNyshanbaev opened #18 "Overlap when placed horizontally (row view)"
First of all I want to thank you for this amazing library which is really easy to use.
We are having trouble when we layout placeholders horizontally, if we place placeholders in flexDirection: row based View, there we got some problem regarding rendering of placeholders it is kind of overlapping .
Thanks in advance.

[2020-11-22 18:10] chramos commented on #18
Hey @ArietNyshanbaev can you show me how to reproduce the issue?

[2020-11-23 14:06] t4dek commented on #18
Hi! I came across the same issue
Here is sample code to reproduce:

[code]

[2020-11-23 14:42] chramos commented on #18
thanks @t4dek, I'll check it and solve ASAP

[2020-11-23 17:12] chramos commented on #18
Hey guys, check the latest version 3.0.2 and let me know if the issue has been solved.

[2020-11-25 11:42] chramos commented on #18
Someone can check if the issue has been solved?

[2020-11-30 17:25] t4dek commented on #18
@chramos hey!
Fix worked, thx!

[2020-11-30 17:27] chramos commented on #18
Thanks for the feedback!

[2020-11-30 17:27] #18 closed

[2020-12-14 23:03] Hugogsalas opened #19 "Animation doesn't start with flex"
When I put flex in childrens styles, the animation doesn't start

[2020-12-16 16:39] chramos commented on #19
@Hugogsalas please, add an example to reproduce the issue.

[2020-12-25 12:15] kasim444 opened #20 "This library is not compatible with 'react-navigation'"
Hello everyone. First of all thank you for this library. I would like to share with you a little problem I have experienced. I wanted to share this with you, as there may be people like me who come across this problem.

I used to use 'react-navigation' library in an application I was developing. Later, I came across the react-native-skeleton-placeholder library to put a placeholder while in standb

[2020-12-27 09:24] suhail135 commented on #20
@kasim444 you just saved me

[2020-12-28 10:40] sallar commented on #20
I sent a PR to update the dependency in README. The actual code just works.

[2021-01-04 12:03] chramos commented on #20
@kasim444 , thx for the feedback

[2021-01-04 12:06] chramos commented on #20
I'll solve it ASAP

[2021-01-07 19:48] chramos commented on #20
@kasim444. the problem is I forgot to update the installation instruction in README. The library does not use the `@react-native-masked-view/masked-view` anymore. The right dependency is the `@react-native-community/masked-view` "the same react-navigation dependency". To get it work remove you should remove `@react-native-masked-view/masked-view` from your project.

[2021-01-07 19:49] chramos commented on #20
@sallar thank you for the PR. It was merged

[2021-01-07 19:52] chramos commented on #19
@Hugogsalas try to update your library to the latest version. we had the same issue in the past but it already solved

[2021-01-07 22:56] sallar commented on #20
Thanks!

[2021-01-08 04:05] TowhidKashem opened #22 "Masked view dependency has changed it's name causing error"
Recently react native community packages began to change their names and masked view is one of them:

https://github.com/react-native-masked-view/masked-view

It's now to be installed as:

`@react-native-masked-view/masked-view`

but in the dependencies and peer dependencies properties in this libraries package.json, it's listed under the old name:

`@react-native-community/masked-view`

Could we

[2021-01-08 04:35] TowhidKashem commented on #22
Sorry this was a false alarm, closing this. `@react-native-community/masked-view` works fine under the old name.

[2021-01-08 04:35] #22 closed

[2021-01-08 07:11] kasim444 commented on #20
The problem has been resolved. Thanks for your support.

[2021-01-08 07:11] #20 closed

[2021-01-08 13:30] chramos commented on #19
I'm closing this issue due inactivity

[2021-01-08 13:30] #19 closed

[2021-01-08 18:01] tcorreiaubi opened #23 "Poor Performance"
I'm having some really poor performance using react-native-skeleton-placeholder, I'm not sure if it's me who is doing something wrong, or even my mobile phone, but I made a sample project, if you can give it a look. (https://github.com/tcorreiaubi/placeholderPerformance)

With the current code I'm having between 7-15fps which is really low since I would expect something around 60.
Thanks in advanc

[2021-01-11 11:36] chramos commented on #23
hey @tcorreiaubi, thank you for the feedback. It's a important point.
Could you try it in release mode to check if the performance is low as well?

[2021-01-11 11:52] tcorreiaubi commented on #23
Hey @chramos sadly I had the same issues in a release build, I only tested on android, but I believe the behavior also occurs on iOS

[2021-01-11 12:27] chramos commented on #23
Ok @tcorreiaubi, I'll check and try to fix it up ASAP. thanks again

[2021-01-12 20:59] chramos commented on #23
@tcorreiaubi after some research I found the problem. Its related to masked-view:
https://github.com/react-native-masked-view/masked-view/issues/88

in iOS its working smoothly in 60FPS.
unfortunately I don't have much free time to continue investigating to try to find a solution for that.

[2021-01-13 11:01] tcorreiaubi commented on #23
Hey @chramos, thank you so much for the time you invested debugging it, I will try to find sometime to help this or next week, and If I come to a conclusion will let you know

[2021-01-13 11:40] chramos commented on #23
@tcorreiaubi thank you 👍
any help will be appreciated

[2021-01-18 10:18] tcorreiaubi commented on #23
@chramos I was looking at the issue and seems that someone has a pull request to fix it on the masked view side(https://github.com/react-native-masked-view/masked-view/pull/98) I will close the issue here, thanks for all the help and time

[2021-01-18 10:18] #23 closed

[2021-02-05 14:17] patricklongo1 opened #24 "Percentage attributes"
Hello everyone!

I'm assembling a Skeleton, but the page in question, is all based on the user's screen .. I take the device's height and width, and the heights and margins are all assembled in percentage. However, when trying to pass a "height =" 5% "to SkeletonPlaceholder.item, it is simply not displayed. Any way to pass percentages as an attribute?

[2021-02-11 07:48] umang-simform opened #25 "Something is wrong/strange with the latest version"
We recently upgraded to 3.0.2 from 2.0.11 and it seems something is definitely changed in not so good way,
So first check the video with the old version:

https://user-images.githubusercontent.com/61829970/107612046-5f3bff00-6c6b-11eb-9346-19c780614129.mov
Now check the new one, Code is the exact the same only change we have made is to update the version in package.json
https://user-images.githubu

[2021-02-12 20:49] wojciechkrol opened #26 "Please make new NPM release of this library"
Hello,

Latest changes have been pushed long time ago and there is still no NPM release of this library. Recent commit brings important change of used `masked-view` library. Right now we have project based on react-navigation and we can't use your library because `@react-native-masked-view/masked-view` collides with `@react-native-community/masked-view`.

[2021-02-16 16:55] chramos commented on #26
Hello @wojciechkrol , I'll check it up

[2021-02-16 17:01] chramos commented on #25
Hi @umang-simform, the video using the latest version have a weird behavior
please can you provide an example of how are you using it in your code?

[2021-02-16 17:12] chramos commented on #24
Hey @patricklongo1
I'll check the possibility

did you try something like that?
[code]

[2021-02-16 17:39] chramos commented on #25
@umang-simform the issue happens when you use colors with alpha value in the **backgroundColor** or **highlightColor** prop

check the example bellow
[code]

[2021-02-16 18:01] chramos commented on #26
it's done!

[2021-02-16 23:28] isnifer opened #27 "lib directory does not exist in 3.0.3"
![image](https://user-images.githubusercontent.com/1788245/108134768-d89e7c00-70c7-11eb-98f6-47f9ff24c126.png)

[2021-02-17 00:03] ejsunrise opened #28 "3.0.3 - /node_modules/react-native-skeleton-placeholder/lib/SkeletonPlaceholder.js doesn't exist"
Error: While trying to resolve module `react-native-skeleton-placeholder` from file `/Card/SkeletonCard.js`, the package `/node_modules/react-native-skeleton-placeholder/package.json` was successfully found. However, this package itself specifies a `main` module field that could not be resolved (`/node_modules/react-native-skeleton-placeholder/lib/SkeletonPlaceholder.js`. Indeed, none of these fil

[2021-02-17 07:03] umang-simform commented on #25
Thanks for the explanation but I am still confused why it is not causing any issue with the previous version?
Also here is the code we have in our app:
[code]

[2021-02-17 07:13] kovetskiy commented on #28
Same issue for me. I guess it's also the same as #27

Downgrading to 3.0.2 solved the issue for me.

[2021-02-17 09:18] chramos commented on #25
Previous version is totally different from the current 3.x.x. it was changed to react-native-masked-view

[2021-02-17 09:20] chramos commented on #27
Wow, I'll fix it ASAP and let you know

[2021-02-17 09:25] umang-simform commented on #25
Got it, Thanks for the clarification

[2021-02-17 09:34] chramos commented on #27
@isnifer, I published a new version **3.0.4**.
please check it out

[2021-02-17 09:37] chramos commented on #28
fixed https://github.com/chramos/react-native-skeleton-placeholder/issues/27#issuecomment-780427708.
thank you for the feedback guys!!

[2021-02-17 11:19] #25 closed

[2021-02-17 11:19] chramos commented on #25
Closing issue

[2021-02-17 15:26] wojciechkrol commented on #26
Thank you! Now it works 👍🏻

[2021-02-17 15:26] #26 closed

[2021-02-17 18:21] ejsunrise commented on #28
Thanks for the fix @chramos

[2021-02-17 18:22] #28 closed

[2021-02-18 04:59] kovetskiy commented on #27
Can confirm, it works fine on 3.0.4 :+1:

[2021-02-18 09:23] #27 closed

[2021-02-20 18:38] heavell7870 opened #29 "Speed Issue"
When I mentioned speed = {400} in
`<SkeletonPlaceholder speed = {400} backgroundColor = '#1e1e1e'  highlightColor='#6060600'>`
animation stopped working, even after re installing in my physical device its not working

my code

`if (loading) {
      return (
      <View style = {{height:'100%', backgroundColor:'black'}}>
          <SkeletonPlaceholder backgroundColor = '#1e1e1e' highlightColor='#60

[2021-02-21 02:36] chramos commented on #29
hey @heavell7870
I'll check it up

[2021-02-21 05:11] heavell7870 commented on #29
Thank you

[2021-02-21 05:33] heavell7870 commented on #29
issue fixed actually there was no issue with this it was a type error I wrote #6060600  instead of #606060

[2021-02-21 05:33] #29 closed

[2021-03-15 21:33] teamzz111 commented on #24
@chramos  actually it's working with Dimensions.

[2021-03-18 02:12] rozanate opened #30 "Border Color"
The border color is always black onLoading if I set the borderWidth > 0. Is there anyway to change the placeholder color if there's a borderWith in the Skeleton.Item?

[2021-03-19 12:04] dbilgin commented on #24
It would be really nice to be able to limit it to the view that the placeholder is in though

[2021-03-21 02:25] chramos commented on #24
hi guys, I'll take a look an let you know if it is possible
;)

[2021-03-21 02:26] chramos commented on #30
hey @rozanate, seems to be a bug, I'll check it

[2021-03-21 02:38] chramos commented on #30
@rozanate, take a look at the example folder, in the `FirstExample` file I'm using borderWidth and applying a white color and it's working

[2021-03-21 03:22] chramos commented on #30
Unfortunately it's not possible because of `react-native-masked-view` that puts a `mask` above of placeholder, that's the reason you cannot see the border

[2021-03-21 05:32] rozanate commented on #30
Thank you for the response. It's just a bummer that I could set the border around the Item.

[2021-03-21 13:40] dbilgin commented on #24
@chramos thanks a lot for looking into it! It's a shame though, at least for me it's very often that the placeholder doesn't fill the whole screen but just the container.
I am using the `onLayout` event from the view as a workaround for this currently by getting the width of said container.

[2021-03-25 11:03] jfbn opened #31 "Displaying multiple SkeletonPlaceholder components at the same time severely drops framerate"
I have a bunch of components that each render SkeletonPlaceholders until they receive the data they need to become actually useful.

Whenever my app is displaying multiple different SkeletonPlaceholders it becomes extremely laggy. Am I using the library wrongly or what's happening?

[2021-03-25 17:02] pranavahir commented on #14
Can We Use it in _renderItem?

[2021-03-27 11:39] TTATPuOT opened #32 "Random with of lines"
Hello!
I created a component to make a random with of skeletons:
[code]
But if i add it into *SkeletonPlaceholder* it's don't show:
[code]
![image](https://user-images.githubusercontent.com/13170867/112719450-e17e3b00-8f1a-11eb-8bcd-5e73812d4dc2.png)

How can i resove this?

[2021-03-29 10:39] chramos commented on #31
Hey @jfbn, What platform are you facing lag? Android... IOS or both?

[2021-03-29 10:44] jfbn commented on #31
The lag is more severe on Android, but I do experience it on IOS as well.

[2021-03-29 11:02] chramos commented on #32
@TTATPuOT the reason is because the width is a percentage in the output. percentage unfortunately is not working yet, it is a known issue.

but try this workaround:

[code]

[code]

[2021-03-29 11:05] chramos commented on #24
@dbilgin I can try to limit the percentage to the container width and height instead of screen.
Thanks so much for contributing to improve the library

[2021-03-29 11:42] chramos commented on #31
on Android we have a bad performance but its related to `react-native-masked-view` I tried to solve but no success yet.
Try to run your project in release mode to see if the lag exists, I think will running much better. Debug mode is very slow and heavy

[2021-03-29 14:20] TTATPuOT commented on #32
@chramos thank you for response, but percents works fine for me.
Code:
[code]
![image](https://user-images.githubusercontent.com/13170867/112850061-1a591400-90c3-11eb-8868-6654fd440135.png)

But if i make a simplier component, it's still not works:
[code]
 I think problem for another reason.

[2021-03-30 18:00] Prajwalrajbasnet opened #33 "Delay before the animation starts and irregular animation timing across mapped sibling components."
Hello everyone!

I've a component with few skeleton items:

[code]

I have used this component by mapping over an array for a list of placeholders:

[code]

There seems to be a small delay before the animation starts and animation for mapped items rendered at the same time somehow starts in different point of time as shown below:

![Peek 2021-03-30 23-43](https://user-images.githubusercontent.com/

[2021-04-06 07:50] jfbn commented on #31
Even in release mode the performance is sadly too poor for me to use the library. I think I should just learn to use the library in a way where I am not rendering 6-10 SkeletonPlaceholders at the same time.

[2021-04-07 21:21] erick-hdz-sinergis commented on #31
I've the same problem, and I'm only showing 3 skeleton's in a view :(

[2021-04-09 11:52] chramos commented on #33
hey @Prajwalrajbasnet, yeah this way you will get irregular animation because each "instance" of the componente will calc some stuff and will start the animation... so if you have a map of instance... you will get a delay between them.

My suggestion is to do something like that:

[code]

[2021-04-09 11:59] chramos commented on #32
hmmm.. I'll check it and try to solve

[2021-04-09 11:59] chramos commented on #32
Which version are you using?

[2021-04-09 12:26] TTATPuOT commented on #32
3.0.4

[2021-04-11 14:30] oguzturker8 commented on #31
same, just showing 2 skeleton

[2021-04-13 13:43] Prajwalrajbasnet commented on #33
Thanks @chramos ! Is there any way to reduce/remove the initial time it takes before the animation starts?

[2021-04-15 07:10] andreialecu commented on #31
I believe this is the same issue as #23 which was supposed to be fixed by: https://github.com/react-native-masked-view/masked-view/pull/98

However, the problem is that this package uses the old library from `@react-native-community`. It has been moved to: `@react-native-masked-view/masked-view`

The dependencies would need to be updated to point to the correct libs: https://github.com/chramos/rea

[2021-04-20 16:39] mhmdiqbal commented on #31
same problem so laggy

[2021-04-21 09:12] andreialecu commented on #31
#37 should fix this

[2021-04-21 14:04] andreialecu opened #38 "Feature request: Static/non-animated mode"
It would be great to be able to toggle animation via a property.

The use case is that for a network error I'd like to keep displaying the placeholder and a retry button, but without the animation.

Something like:

[code]

[2021-04-26 14:26] chramos commented on #38
hey @andreialecu, good idea... I'll try to do it when I get some free time, or if you wanna try and open a PR ..feel free

[2021-04-26 14:33] #31 closed

[2021-04-26 14:33] #33 closed

[2021-04-29 15:27] PQMISSCMP opened #39 "Delay in showing animation on Android"
I do not understand why the skeleton takes a long time to show the animation on Android (it works fine on IOS).
 Someone else happens ?

[2021-04-30 13:14] rdgoutiyama commented on #39
Same here. Using release build works a little better.

[2021-05-03 19:20] marcusnunes opened #40 "Why not @react-native-community/masked-view who is already necessary with react-navigation?"
My app is not building because using this means we have two masked-views installed.
Is there any reason for that?

[2021-05-03 21:54] sophie-li opened #41 "SkeletonPlaceholder.js seems to be importing "@react-native-community/masked-view" @ v4.0.0."
Got the following error on version `4.0.0`

`Unable to resolve module @react-native-community/masked-view from ... /lib/SkeletonPlaceholder.js: @react-native-community/masked-view could not be found within project`

![Screen Shot 2021-05-03 at 5 50 52 PM](https://user-images.githubusercontent.com/8574342/116938016-1d05d680-ac38-11eb-820a-00af8abd6cd2.png)

Version: 4.0.0

[2021-05-04 14:33] sophie-li commented on #22
I was wondering if you encountered this error on v4.0.0? @TowhidKashem
https://github.com/chramos/react-native-skeleton-placeholder/issues/41

[2021-05-05 07:13] hodangnamtien commented on #39
Animation working fine on Ios, but not working on android

[2021-05-05 20:03] Sayon1992 commented on #41
Yeah, i've the same problem. expecting them to change to masked-view sice it still has performance issues.

[2021-05-06 01:30] #40 closed

[2021-05-07 13:38] oguzturker8 opened #42 "styled components not working"
Is there any way to use with styled components
e.g.
![image](https://user-images.githubusercontent.com/33129613/117458136-9d874880-af52-11eb-89e3-57cf31a39fd7.png)

[2021-05-07 21:21] alannnc commented on #40
Hey, what did you do, to solve this two masked views installed? I'm getting error on android build @marcusnunes

[2021-05-08 16:13] devWaleed commented on #39
My observation is that on debug mode it performs poorly on old devices. But for release mode it works correctly.

[2021-05-08 17:54] hodangnamtien commented on #39
Only android, animated will automatic hide
I

Vào 11:14 CH, Th 7, 8 thg 5, 2021 devWaleed ***@***.***> đã
viết:

[2021-05-09 16:55] chramos commented on #41
Hey guys, I'll check this

[2021-05-11 13:54] fulyakaya commented on #42
i have the same issue if I pass styles directly it works, but when I try to use it with styled-components skelatonplaceholder.item's not displaying

export const StyledSkeletonView = styled(SkeletonPlaceholder.Item)<StyledSkeletonViewProps>`
  ${({ $width, $height, $margin, $borderRadius }) => `
    width: ${$width};
    height: ${$height};
    margin: ${$margin || 0};
    border-radius: ${$border

[2021-05-11 15:46] fulyakaya opened #46 "marginTop property not working"

[2021-05-11 15:57] #46 closed

[2021-05-14 05:40] whalemare opened #47 "Generate a thousand views is not a good idea"
https://github.com/chramos/react-native-skeleton-placeholder/blob/c868082d616a952f2f5e4c09cbf36bd3445ff507/src/SkeletonPlaceholder.tsx#L128

[2021-05-14 14:00] alexdieudonne opened #48 "undefined is not an object (evaluating 'child.type.displayName')"
undefined is not an object (evaluating 'child.type.displayName')
An error occured when i tried to use <View> instead of using <SkeletonPlaceholder.Item> i solved this issue by adding `?` every time child is required and doesn't exist in SkeletonPlaceHolder.js.
 let style;
``if (child?.type?.displayName === "SkeletonPlaceholderItem") {
        const _a = child.props, { children } = _a, styles = __r

[2021-05-15 06:26] diazdell91 commented on #41
+1

[2021-05-18 07:44] okimotoren commented on #41
hello, I had the same situation",
and i changed here

before : `const masked_view_1 = __importDefault(require("@react-native-community/masked-view"));`
after : `const masked_view_1 = __importDefault(require("@react-native-masked-view/masked-view"));`

#37
<img width="761" alt="Screen Shot 2021-05-18 at 16 37 08" src="https://user-images.githubusercontent.com/65141910/118610967-4b1e1580-b7f7-11eb-9

[2021-05-18 08:00] okimotoren commented on #41
Hello, I had the same situation, and i solved it by the change below.

### Solution:
in node_modules/react-native-skeleton-placeholder/lib/SkeletonPlaceholder.js

<img width="751" alt="Screen Shot 2021-05-18 at 16 53 26" src="https://user-images.githubusercontent.com/65141910/118613280-920d0a80-b7f9-11eb-98b9-7de1b66ccad1.png">

**before** : `const masked_view_1 = __importDefault(require("@react-n

[2021-05-20 07:21] hanifmhd commented on #48
i got same error

[2021-05-20 15:14] Chandra-Panta-Chhetri commented on #39
Any update on this issue? I have created multiple skeletons and when I tested on my OnePlus 7 Pro, it is very laggy while scrolling.

I am using the latest version 4.0.0 and @react-native-masked-view/masked-view version 0.2.4

[2021-05-22 00:03] chramos commented on #47
Hmm, so let me know your solution 🤔

[2021-05-22 06:13] whalemare commented on #47
Just single view and another view above it (some linear gradient), that change translationX

pretty easy and without extra overhead

[2021-05-22 12:06] chramos commented on #47
If is pretty easy for you...go ahead open a pull request

[2021-05-22 12:11] whalemare commented on #47
50 lines of code is too much for cloning and maintaining big repo, so I just placed it here for future guys, who want remove performance issues

[code]

[2021-06-01 17:28] rdgoutiyama commented on #41
I solved this issue with:

First, try to install:

[code]

And run project.  If an error occurs, like:

_While trying to resolve module react-native-skeleton-placeholder from file xxxxx, ...._

I make this pull request #50

[2021-06-05 03:25] anhquan291 commented on #39
Same issue here. It is very slow and laggy on android. Works fine on iOS

[2021-06-16 10:56] chramos commented on #48
hey @alexdieudonne I'll fix it up

[2021-06-21 20:42] matthewcarlreetz opened #52 "Fix RNCMaskedView.updateBitmapMask crashing on Android with RN64"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-skeleton-placeholder@3.0.4` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-06-24 07:00] henaharon opened #53 "Feature request: No option for changing left-right animation to right-left."
In this function
const translateX = React.useMemo(() => animatedValue.interpolate({
        inputRange: [0, 1],
        **outputRange: [SCREEN_WIDTH, -SCREEN_WIDTH],**
    }), [animatedValue]);

can you guys add an option for switching the direction of the animation ?

 --->>>        **outputRange: [-SCREEN_WIDTH, SCREEN_WIDTH],**

 thanks!
Jen.

[2021-06-24 07:13] henaharon commented on #38
hey @chramos  how can we open a pr if lib is ignored ?

[2021-06-24 07:50] andreialecu commented on #41
I think the `npm publish` was somehow messed up because:

https://cdn.jsdelivr.net/npm/react-native-skeleton-placeholder@4.0.0/lib/SkeletonPlaceholder.js (search for `react-native-community` here)

Does not match the source of https://github.com/chramos/react-native-skeleton-placeholder/blob/master/src/SkeletonPlaceholder.tsx.

@chramos mind publishing the library again?

[2021-06-24 09:17] andreialecu commented on #53
I added this to #54

[2021-06-24 09:57] andreialecu commented on #39
Version 4.0.0 has an issue with the way it was published and is not actually using `@react-native-masked-view/masked-view`.

See: https://github.com/chramos/react-native-skeleton-placeholder/issues/41#issuecomment-867420697

A republish should fix this.

[2021-06-24 10:05] henaharon commented on #53
@andreialecu Thank you!!
Is there a way i can get a notification if the branch will merged ?

[2021-06-24 10:12] andreialecu commented on #53
You can try the PR before it's merged and published by modifying your `package.json` to reference the git branch directly:

[code]

This should work with yarn, I think it works with npm too. Make sure to run an install afterwards.

Also you'll need to install `react-native-linear-gradient`, which is a dependency in that PR. See the PR text for further explanations.

[2021-06-24 10:15] henaharon commented on #53
@andreialecu ok! tnx i will try.

[2021-06-24 21:21] PQMISSCMP commented on #39
hi guys, i solved it using  react-content-loader/native

[2021-07-05 14:43] ugrdursun opened #55 "A big performance issue before load"
Firstly, thanks for this beautiful library,

But I am having a massive delay like 4-5 seconds before the page with skeleton loads.

RN 0.61.5
Library 4.0
MaskedView@latest

 Any suggestion ?

[2021-07-05 21:24] junioroga commented on #55
Hi @ugrdursun, your problem only occurs on Android? because I also have this problem, but only on android.

There is a pull request created by @andreialect that is open for performance correction, but I am not able to test it to see if it fixed the issue.

https://github.com/chramos/react-native-skeleton-placeholder/pull/54

@andreialecu can you help us?
I tried to use your fork in my project, but

[2021-07-05 21:38] andreialecu commented on #55
You should be able to use the PR via the instructions in this comment: https://github.com/chramos/react-native-skeleton-placeholder/issues/53#issuecomment-867516147

[2021-07-06 11:18] junioroga commented on #55
@andreialecu It worked! Solved the performance issue! But to work your PR I had to change the path of main in package.json
from lib/SkeletonPlaceholder.js to src/SkeletonPlaceholder.tsx

[2021-07-08 05:57] shikharsrivastava23 commented on #41
Can someone clarify if we need @react-native-masked-view/masked-view or @react-native-community/masked-view? Having both in the package.json is causing mergeDex error when building for android.

[2021-07-09 10:23] shikharsrivastava23 commented on #41
I used @react-native-community/masked-view, seems to work fine for now.

[2021-07-11 05:49] hoangvu12 opened #56 "Extract Skeleton Items to another component then reuse it?"
I have a component called `Loader.tsx`

[code]

Now I create a component contains Skeleton items

[code]

Now when I try to use it in HomeScreen, I would write
[code]

Sadly this way didn't works as I expected. This should works but somehow it didn't...

[2021-07-12 02:59] kimsean commented on #41
I have the same issue.

[2021-07-16 14:20] #38 closed

[2021-07-16 14:20] #47 closed

[2021-07-16 14:20] #53 closed

[2021-07-16 14:35] chramos commented on #56
hmmm, good catch
I'll try to do something to make it work

[2021-07-16 14:37] chramos commented on #55
I merged the @andreialecu code...
check if it solve the performance issue ;D

[2021-07-16 14:39] chramos commented on #42
hey guys, unfortunately  it is not supported yet, I have to work on a solution for that

[2021-07-16 14:45] hoangvu12 commented on #56
After looking at your source code, I figured out why it didn't work. So I tried this approach, take a look at it to see if it helps.

[code]

[2021-07-21 02:00] Husdady opened #60 "Border is not showing"
I'm using your library, and I want to implement something similar to the example that you put on the phone with the animation, the background above and the profile photo in the middle, with that white border. How do you do that? Can someone help me?

[2021-07-25 09:29] Mursivic commented on #48
hey, @chramos  is there any solution for this issue?

[2021-07-25 13:15] Sargnec commented on #55
Do I have to do another thing beside upgrading to 5.0.0? Because looks like mine still delays the animation in android. Havent tried on Ios yet

[2021-07-25 15:58] ugrdursun commented on #55
Hello, Unfortunately upgrading 5.0.0 did not solve the issue, also not even reduced delay duration :(

[2021-07-28 14:50] MatiSera commented on #41
Hi! This fix will be uploaded? Because I'm still facing this error.

[2021-07-28 14:54] andreialecu commented on #41
Version 5.0 uses `@react-native-masked-view/masked-view`. You will need to remove the older (community) one.

[2021-07-28 21:27] stoyan-frieze commented on #41
I think I am having conflict issues between @react-native-community/masked-view and @react-native-masked-view/masked-view - '**Invariant Violation: Tried to register two views with the same name RNCMaskedView, js engine: hermes**' But I am using react-navigation which has @react-native-community/masked-view as a dependency so I can't remove it. Can they coexist? Surely, I am not the only person us

[2021-07-29 01:38] MaganAnkur commented on #41
I am getting the same error in version 5.

I have followed the below step

Installed Masked view and linear gradient libraries before

Below is SkeletonPlaceholder.js

const masked_view_1 = __importDefault(require("@react-native-masked-view/masked-view"));
const react_native_linear_gradient_1 = __importDefault(require("react-native-linear-gradient"));

But still I am getting below :
Error: Unable

[2021-08-08 03:29] edemchen opened #62 "Continuously print warning "Animated: `useNativeDriver` was not specified.""
It prints a lot of warning messages as subject so that difficult to debug.

[2021-08-20 09:15] ugrdursun opened #64 "Masked View conflict at version 5.0.0"
Hello, v4.0.0 is working fine (With no errors but lots of delay) with this:

    "@react-native-community/masked-view": "^0.1.11",

But v5.0.0 requires  **@react-native-masked-view/masked-view**.

Problem:

These two libraries are not working together. App is just not opening with console output below. (Stuck at splash screen).

`BugReporting extraData: {"AppRegistry.runApplication1": "Running \"A

[2021-08-24 12:19] Sargnec commented on #64
open react-native-skeleton-placeholder in node-modules folder and go to lib > SkeletonPlaceholder.js
change your masked_view_1 to this
`const masked_view_1 = __importDefault(require("@react-native-community/masked-view"));`

[2021-09-06 09:58] rabie-khlifi commented on #64
its till a problem react @react-native-community/masked-view and  @react-native-masked-view/masked-view kinda have same name creates coflicts and @react-native-community/masked-view is needed for react navigations so i dont know why not use @react-native-community/masked-view like in v4 to prevent this conflict

[2021-09-07 06:51] #64 closed

[2021-09-28 16:14] brunomartinezciompi commented on #64
Why this issue is closed? Changing something on node_modules should not be a proper solution!

[2021-10-01 09:34] salmanbajwa3 opened #68 "Importing Issue"
import MaskedView from './js/MaskedView';
    ^^^^^^

    SyntaxError: Cannot use import statement outside a module
        at compileFunction (<anonymous>)

[2021-10-01 13:55] cvburgess commented on #42
Hey there! Is there anything we can do to add support for this? Is there an approach outline or the issue defined so we could help open a PR?

[2021-10-04 14:57] mrshahzeb7 commented on #60
kindly tell me if you find any solution ?

[2021-10-21 06:58] hyunahOh opened #69 "react-native-web support"
Do you have plan to support react-native-web? or Is it my configuration issue? I got below issue. Could you please check this if it's my configuration issue?

[code]

[2021-11-04 14:37] jarvisluong opened #70 "Outdated masked view package"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-skeleton-placeholder@5.0.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-11-10 13:04] felansu commented on #41
more 1 here 🪂

[2021-11-12 17:32] DnEgorWeb commented on #70
For anyone who is considering solution above:

If the issue is react-navigation using @react-native-community/masked-view - such patch is not relevant for react-navigation v6 (it does not have masked-view dependency). To avoid incompatibility either use @react-native-community/masked-view v4 or upgrade your react-navigation to v6.

[2021-12-08 12:05] chramos commented on #69
hey @hyunahOh
would be great to have react-native-web support. I can take a look later. Unfortunately I'm really busy in my projects.
In few days I'll be in vacation so I'll have some days free to check all issues

[2021-12-08 12:06] chramos commented on #68
please provide more information about how you're using the library

[2021-12-27 18:13] farazirfan47 commented on #55
Same heppning with me

[2022-01-07 20:42] hexadecy commented on #69
But it was working with 2.0.11, it breaks with version 3.

[2022-01-08 19:25] hexadecy commented on #69
For the Unexpected token error, add this node module to your babelLoaderConfiguration.
https://necolas.github.io/react-native-web/docs/multi-platform/

[2022-02-08 13:09] ali-thowfeek opened #74 "Migrate to Reanimated for performance gain."
Hi, with the current version of this package my app in production shows an extreme lag where there is a skeleton loader. I believe instead of the `Animated` Api of React Native, if we use Reanimated2, we can achieve a much better performance. I haven't tried this though. In my free time I'm thinking of giving this a shot.

[2022-04-12 09:56] chramos commented on #74
for sure, I'll implement a new version with Reanimated, I'll try to add support to v1 and v2

[2022-04-12 09:56] #55 closed

[2022-04-14 12:06] chramos commented on #74
my concern is the number of dependencies required to use this library, currently we have:
masked-view
linear-gradient

and now the plan is to add a new one: reanimated

do you think is it ok?
let me know what you think about it

[2022-04-15 08:53] ali-thowfeek commented on #74
Hi @chramos I did a little testing with reanimated 2. I didn't see a performance boost at all. Although my testing was not an accurate one, if it doesn't give a performance boost then no point in adding another dependency.

[2022-04-15 11:30] chramos commented on #74
hey, @ali-thowfeek  since we are using a translateX animation we are using to useNativeDriver, I think we'll not see a big difference changing to the reanimated library.
I'm doing some tests to try to improve the library performance.
Can you provide me an example of how you're using it in your production app to get a slow performance?

[2022-04-17 14:36] ali-thowfeek commented on #74
Hey @chramos Sorry I'm no longer able to share the implementation. I'll close this issue for now as I don't have any input in this.

[2022-04-17 14:36] #74 closed

[2022-04-18 11:35] daimonkor opened #78 "Horizontal list"
Please help. How use for horizontal list with item (width: 150, height:150)?

[2022-04-18 11:39] #78 closed

[2022-06-29 07:58] kritajns commented on #60
Looking for the solution to same issue.

[2022-08-15 07:12] husenbyjus commented on #30
same issue with background Color

[2022-09-16 06:58] Choyeongdeok commented on #41
I removed @react-native-masked-view/masked-view and restart then fix error

[2022-10-05 03:43] emauricio opened #85 "[question] react-native-community/masked-view is deprecated"
`"@react-native-community/masked-view": "^0.1.11",`
<img width="717" alt="image" src="https://user-images.githubusercontent.com/7945345/193976713-02f1bfa8-a871-4cf7-8c9b-9aef022791aa.png">

why changed back to that one on the latest version?

thx

[2022-10-05 06:12] chrismerino commented on #85
Exactly, the package "@react-native-community/masked-view" is deprecated.

[2022-10-05 06:36] efstathiosntonas commented on #85
patch to use the `@react-native-masked-view/masked-view` instead of the community one:

`react-native-skeleton-placeholder+5.2.0.patch`

[code]

[2022-10-06 12:56] FelipeLimaDeSouza commented on #85
@emauricio
I added "sed" in postinstall:

`"postinstall": "./scripts/replace.sh"`

In replace.sh:

`sed -i '' 's/react-native-community/react-native-masked-view/g' node_modules/react-native-skeleton-placeholder/lib/SkeletonPlaceholder.js`

[2022-10-07 18:21] kevinhikaruevans opened #88 "Support for `rgba()` colors in `highlightColor`"
I'm currently using react-native-paper, which has colors provided by the theme. The default theme uses `rgba()` colors instead of hex.

When an `rgba()` color is used, it returns an "Unsupported color format" error:

![image](https://user-images.githubusercontent.com/4730591/194624184-3bb65082-972f-4de0-b0ab-e8ec0ccc1e74.png)

This only happens with `highlightColor` and not `backgroundColor`, some

[2022-10-12 16:22] chramos commented on #85
oh, that's true!
I hadn't noticed that react-native-masked-view/masked-view was deprecated
I'll solve this issue ASAP

thank you guys

[2022-10-12 16:26] chramos commented on #88
I agree, it is important to support rgba and hex
I'll check

[2022-10-14 01:21] AugSync opened #90 "@react-native-community/masked-view has been deprecated"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-skeleton-placeholder@5.2.0` for the project I'm working on.

@react-native-community/masked-view has been deprecated, it is necessary to use @react-native-masked-view/masked-view instead. If the deprecated library is used, it causes conflicts with oth

[2022-10-14 04:35] manoj-jar commented on #85
hey @chramos any update on this ?

[2022-10-14 15:04] valdirunars opened #93 "Replace masked-view with the proper dependency"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-skeleton-placeholder@5.2.0` for the project I'm working on.

My issue was that there is an outdated dependency @react-native-community/masked-view that is conflicting with the entire communiy's usage of MaskedView. Please change to use the new namespa

[2022-10-14 18:40] daviseares opened #94 "Upgrade version @react-antive-community/masked-view"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-skeleton-placeholder@5.2.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-10-15 10:13] #90 closed

[2022-10-15 10:18] #94 closed

[2022-10-15 10:19] chramos commented on #94
hey, I merged the fix and I'll deploy soon
https://github.com/chramos/react-native-skeleton-placeholder/pull/91/files

[2022-10-15 10:20] chramos commented on #93
hey, fixed!
https://github.com/chramos/react-native-skeleton-placeholder/pull/91/files

[2022-10-15 10:20] #93 closed

[2022-10-15 10:20] chramos commented on #85
yes, it is fixed and I'll deploy a new version today
https://github.com/chramos/react-native-skeleton-placeholder/pull/91/files

[2022-10-17 19:10] #88 closed

[2022-10-17 19:16] #85 closed

[2022-10-17 19:16] chramos commented on #70
fixed in the latest release

[2022-10-17 19:16] #70 closed

[2022-10-17 19:25] nickolasmdasilva commented on #85
@chramos  Is the new release available? Thank you

[2022-10-18 07:06] efstathiosntonas opened #97 "[5.2.1] Error: While trying to resolve module `react-native-skeleton-placeholder`"
After installing version `5.2.1` it throws this:

[code]

I've deleted `node_modules` and `yarn.lock`, reinstalled everything and runned `metro` with `--reset-cache` but it seems that the bundler prior releasing to npmjs created a `skeleton-placeholder.js` instead of `SkeletonPlaceholder.js` (it worked after I manually renamed the file).

[2022-10-18 09:54] chramos commented on #97
hey @efstathiosntonas thank you,
please check the latest version `5.2.3` it should work

[2022-10-18 09:57] efstathiosntonas commented on #97
@chramos thanks for the quick fix, everything is back to normal.

[2022-10-18 09:57] #97 closed

[2022-10-19 10:03] kostas64 commented on #39
Much better library, without glizzes even for Android! Thanks man!

[2022-10-19 19:47] gaabrielricci opened #98 "Deprecated @react-native-masked-view/masked-view"
@react-native-masked-view/masked-view
This lib was chagend to:
@react-native-community/masked-view

const masked_view_1 = __importDefault(require("@react-native-masked-view/masked-view"));
and this import is causing an error on compile

const masked_view_1 = __importDefault(require("@react-native-community/masked-view"));
i change manually the require in app\node_modules\react-native-skeleton-plac

[2022-10-21 05:54] VhoraAbdulrauf commented on #98
can anyone solve this with proper solution ?

[2022-10-21 12:58] hexadecy commented on #69
This will help: https://github.com/react-native-masked-view/masked-view/pull/175
One thing I noticed is that the animation doesn't work on the Web.

[2022-10-21 15:15] shaunp-street opened #99 "Add children type to SkeletonPlaceholderItemProps to prevent warnings when nesting SkeletonPlaceholder.Item"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-skeleton-placeholder@5.2.3` for the project I'm working on.

When nesting SkeletonPlaceholder.Item typescript errors occur as there is not children prop.

![image](https://user-images.githubusercontent.com/71267894/197229945-90537a76-009b-4686-a972-49

[2022-10-26 19:31] chramos commented on #98
it is already solved in the latest version

[2022-10-26 20:35] gaabrielricci commented on #98
thankyou

[2022-10-27 10:12] #98 closed

[2022-10-27 11:30] gaabrielricci commented on #98
@chramos,
I deleted the node_modules folder, did a yarn install, npm install and the problem was not occurring. But today, I uninstalled the app and installed it again and the error came back.

![Screenshot_1666869848](https://user-images.githubusercontent.com/27814206/198273037-ae1d7cb3-d177-4953-b43f-fa6b69aadb95.png)
![Captura de tela 2022-10-27 082523](https://user-images.githubusercontent.com

[2022-11-01 12:24] sterlingwes commented on #99
This was required for me (parent placeholder element can take multiple children)

[code]

[2022-11-09 06:48] Akshayakumar7 opened #102 "after upgrading library from 5.0.0 to 5.2.3 skeleton-placeholder is not working"

[2022-11-09 08:08] #102 closed

[2022-11-09 08:08] Akshayakumar7 commented on #102
fixed

[2022-11-12 16:00] Splicer97 commented on #99
Same for me. Can somebody create PR for this bug?